#container {
    width: 400px;
    height: 550px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#display {
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    font-size: 2.5em;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    overflow-x: auto;
    align-self: center;
}

#result {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1.75em;
    text-align: right;
    outline: none;
}

#input {
    width: 100%;
    height: 80%;
    font-size: 2em;
    display: grid;
    place-items: center;

    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr fr 1fr 1fr;
    align-self: center;
}

.button {
    width: 80px;
    height: 60px;
    margin: 2px;
    font-size: 1.2em;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d4d4d4;
}

